[Setup]
help = This bot watches spam blacklists. The manual is located at [[m:User:Mike.lifeguard/BLWatcher]].
optin = Mike_lifeguard<|>Beetstra<|>erwin85
server = irc.freenode.net
wmserver = irc.wikimedia.org
owner = wikibooks/mike.lifeguard
password = 
nickname = BLWatcher
privileged = wikibooks/mike.lifeguard<|>wikimedia/nixeagle<|>wikimedia/beetstra<|>wikimedia/dferg
channel = #wikimedia-external-links
quitmsg = Goodbye!

[#meta.wikimedia]
ignored = COIBot
domain = meta.wikimedia.org
stalked = Talk:Spam blacklist<|>User:COIBot/LinkReports<|>User:COIBot/LinkReports<|>User:COIBot/XWiki
iwprefix = m
report = True

[#de.wikipedia]
stalked = MediaWiki:Spam-blacklist<|>MediaWiki Diskussion:Spam-blacklist
domain = de.wikipedia.org
ignored = 
iwprefix = w:de
report = True

[#it.wikipedia]
ignored = 
domain = it.wikipedia.org
stalked = MediaWiki:Spam-blacklist<|>Discussioni MediaWiki:Spam-blacklist
iwprefix = w:it
report = True

[#nl.wikipedia]
ignored = 
domain = nl.wikipedia.org
stalked = MediaWiki:Spam-blacklist<|>Overleg MediaWiki:Spam-blacklist<|>Wikipedia:Verzoekpagina voor moderatoren/Spam-blacklist
iwprefix = w:nl
report = True

[#en.wikipedia]
ignored = 
domain = en.wikipedia.org
stalked = MediaWiki:Spam-blacklist<|>MediaWiki talk:Spam-blacklist<|>Wikipedia talk:WikiProject Spam
iwprefix = w:en
report = False
