[Setup]
help = This bot watches important pages on English Wikibooks. The manual is located at http://toolserver.org/~stewardbots/docs/IRC-watchbot.
optin = 
server = irc.freenode.net
wmserver = irc.wikimedia.org
owner = wikimedia/mikelifeguard
password = 
nickname = DeSpamWatcher
privileged = wikimedia/mikelifeguard
channel = #cvn-wp-de
quitmsg = Goodbye!

[#de.wikipedia]
ignored =
domain = de.wikipedia.org
stalked = MediaWiki Diskussion:Spam-blacklist
iwprefix = w:de
report = True
