[Setup]
help = This bot stalks the 2009 Wikimedia steward elections. The manual is located at http://toolserver.org/~stewardbots/IRC-watchbot
optin = Mike_lifeguard
server = irc.freenode.net
wmserver = irc.wikimedia.org
owner = wikimedia/mikelifeguard
password = 
nickname = IRC-watchbot
privileged = wikimedia/mikelifeguard
channel = #wikimedia-stewards-elections
quitmsg = Goodbye!

[#meta.wikimedia]
ignored = MiszaBot<|>CommonsDelinker<|>Mike's bot account
domain = meta.wikimedia.org
stalked = (Talk:)?Stewards/elections 2009.*<|>(Talk:)?Stewards/confirm/2009.*
iwprefix = meta
report = True
