[Setup]
help = This bot watches important pages on English Wikibooks. The manual is located at [[m:User:Mike.lifeguard/The_Hawk]].
optin = Mike_lifeguard<|>wknight8111<|>Neoptol3mus<|>darkcode<|>Az1568<|>webaware<|>R-eece
server = irc.freenode.net
wmserver = irc.wikimedia.org
owner = wikibooks/mike.lifeguard
password = 
nickname = The_Hawk
privileged = wikibooks/mike.lifeguard<|>wikibooks/reece<|>wikimedia/az1568<|>wikimedia/bastique
channel = #wikibooks
quitmsg = Goodbye!

[#simple.wikibooks]
ignored = Mike's bot account
domain = simple.wikibooks.org
stalked = Talk:Main Page
iwprefix = b:simple
report = False

[#en.wikibooks]
ignored = MiszaBot<|>CommonsDelinker<|>Mike's bot account
domain = en.wikibooks.org
stalked = Wikibooks:Requests for permissions<|>Talk:Main Page<|>Wikibooks talk:Reading room<|>Wikibooks talk:Contact us<|>Wikibooks:Requests for Import<|>Wikibooks:Reading room<|>Wikibooks:Reading room/General<|>Wikibooks:Reading room/Projects<|>Wikibooks:Reading room/Assistance<|>Wikibooks:Reading room/Technical Assistance<|>Wikibooks:Reading room/Administrative Assistance<|>Wikibooks:Reading room/Administrative Assistance/Renaming<|>Wikibooks:Reading room/Bulletin Board<|>Wikibooks:Reading room/Feature requests<|>Wikibooks:Votes for deletion
iwprefix = b:en
report = True
